@font-face {
    font-family: 'UniNeue';
    src: url('../assets/fonts/UniNeueBold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

html, body {
    position: fixed;
    width: 100vw;
    height: 100vh;
    margin: 0;
    border: 0;
    overflow: hidden;
    display: block;
}

#app-root {
    position: absolute;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    user-select: none;
}

#app-root * {
    font-family: 'UniNeue';
}

#app-canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: all;
    background: #090f2f;
    background: radial-gradient(circle, #802890 20%, #090f2f 90%);
}

#app-ui {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: all;
}


.editor-root {
    pointer-events: auto;
}