.root {
    position: fixed;
    width: 100%;
    top: 50%;
    margin-top: -50px;
    background: #205081;
    color: white;
    text-align: center;
    line-height: 100px;
    height: 100px;

    a {
        color: white;

        &:hover {
            text-decoration: none;

        }
    }
}
