.root {
    border: none;
    width: 4vh;
    height: 4vh;
    background: url('../images/arrow.svg') no-repeat center;
    position: absolute;
    top: 50%;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: opacity ease-in .7s;
}

.visible {
    pointer-events: auto;
    opacity: 1;
}

.root:focus {
    outline: none;
}

.left {
    left: 10px;
    transform: rotateY(180deg);
}

.right {
    right: 10px;
}