.root {
    position: absolute;
    width: 40vh;
    height: 40vh;
    top: 20vh;
    left: 50%;
    transform: translateX(-50%);
    background: url('../images/Pu.png') no-repeat center;
    background-size: contain;
    transition: 0.5s;
}