.root {
    border: none;
    background: rgba(253, 104, 38, 0.9);
    position: absolute;
    right: 0;
    bottom: 5vmin;
    padding: 1.5vmin 3vmin;
    color: white;
    font-size: 3vmin;
    font-weight: bold;
    text-transform: uppercase;
    font-style: italic;
}

.root::before {
    content: '';
    background: url('../images/fist.svg') no-repeat center;
    background-size: contain;
    right: 4vmin;
    width: 4vmin;
    height: 4vmin;
    position: absolute;
}