.root {
    position: absolute;
    bottom: 4vh;
    width: 90%;
    left: 0;
    right: 0;
    margin: auto;
    background: #07040e;
    box-shadow: 0px 0px 2vh #feab4a;
    border-radius: 100px;
    overflow: hidden;
    height: 9vh;
    display: flex;
    align-items: center;
    max-width: 54vh;
}

.inactive, .inactive * {
    pointer-events: none;
}

.root::before {
    content: '';
    position: absolute;
    width: 5vh;
    height: 5vh;
    background: url('../images/cart.svg') no-repeat center;
    right: 2vh;
}

.button {
    border: none;
    background: #db6835;
    border-radius: 100%;
    width: 9vh;
    height: 9vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 2;
    cursor: pointer;
}

.button::before {
    content: '';
    width: 5vh;
    height: 5vh;
    background: url('../images/fist.svg') no-repeat center;
}

.incart .button::before {
    background: url('../images/cart-2.svg') no-repeat center;
}

.button:focus {
    outline: none;
}

.overlay {
    position: absolute;
    top: 0;
    left: calc(-100% + 5vh);
    background: #07040e;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    transition: 0.5s;
}

.arrows {
    position: relative;
    display: flex;
}

.arrows::before, .arrows::after {
    content: '';
    border-top: 1.5vmin solid transparent;
    border-left: 2vmin solid #87878b;
    border-bottom: 1.5vmin solid transparent;
    height: 0;
    width: 0;
}

.text {
    color: #feab4a;
    font-size: 3vh;
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
    margin: 0 2vmin 0 1vmin;
    width: 23vh;
    display: flex;
    justify-content: center;
}